<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

	<title>Beam</title>
	
	{# Stylesheets #}
	{% if craft.app.config.general.devMode == false %}
		<link rel="stylesheet" href="{{ craft.app.config.general.assetHost }}"/>
	{% endif %}
</head>
<body>
	{% block main %}
		<p class="p4 tc">
			Main block not found.
		</p>
	{% endblock %}

	{# Hydrate #}
	<script>
		{# Empty store hydration #}
		var __HYDRATE__ = {
			{# TODO: headless preview bug #}
			{# https://github.com/craftcms/cms/issues/4377 #}
			{% if craft.app.request.getParam('token') or craft.request.path == '__home__' %}
				isDraftPreview: true,
			{% else %}
				isDraftPreview: false,
			{% endif %}
			{# TODO: headless preview bug #}
			{# https://github.com/craftcms/cms/issues/4377 #}
			{% if craft.request.path == '__home__' %}
				requestUrl: '/',
			{% else %}
				requestUrl: '{{ '/' ~ craft.request.path }}',
			{% endif %}
		};
		
		{# Empty manifest #}
		var __MANIFEST__ = {
			context: 'preview',
			stateByPathname: {},
		};
	</script>

	<script defer src="{{ craft.app.config.general.assetHost }}{{ craft.app.config.general.assetPath }}client.js"></script>
</body>
</html>
